/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(101, 111, 164);
  background: radial-gradient(
    circle,
    rgba(101, 111, 164, 1) 0%,
    rgba(70, 117, 252, 1) 100%
  );
  color: #5de8fc;
}

/* slider track thickness */
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

/* slider track on movement */
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: #4675fc;
}

/* slider button on movement */
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: #a6b0e4;
  border: solid 2px #5de8fc;
  bottom: -20px;
  right: -20px;
}

/* slider button at start */
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: #4675fc;
  border: solid 2px #5de8fc;
}

/* slide-toggle unchecked */
.mat-slide-toggle .mat-slide-toggle-bar {
  background-color: rgba(70, 117, 252, 1);
}

/* slide=toggle checked */
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(101, 111, 164, 1);
}
